[Desktop Entry]
Version=1.0
Type=Application
Name=show desktop
Comment=
Exec=xfce-show-desktop-toggle
Icon=user-desktop
Path=
Terminal=false
StartupNotify=false
