[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ollie/videos]
row=3
col=1

[/home/ollie/college]
row=6
col=0

[/home/ollie/documents]
row=2
col=1

[/home/ollie/packages-xfce]
row=8
col=0

[/home/ollie/packages]
row=5
col=0

[/home/ollie/pictures]
row=7
col=0

[/home/ollie/downloads]
row=1
col=1

[/home/ollie/music]
row=0
col=1

[327634f1-0769-4ff1-ba8f-a6aacfd4ee50]
row=0
col=0

[4814-4049]
row=1
col=0

[8b0330cf-50f3-47f7-b518-c367d05665f6]
row=2
col=0

[/]
row=3
col=0

[/home/ollie]
row=4
col=0

